.c-pfp{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.c-pfp img{
    border-radius: 100%;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    object-fit: cover;
}

@media (max-width: $phone) {
    .c-pfp{
        margin-left: 0;
    }
  }
