.l-delete{

    margin-top: 25px;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;

        margin-right: 25px;
        margin-left: 25px;
    }
}